
.cursor {
  width: 1vh;
  height: 1vh;
  background-color: var(--clr-font);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  position: fixed;
  z-index: 1000;
}


.cursor-lazy {
  width: 4vh;
  height: 4vh;
  border: 0.3vh solid var(--clr-font);;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.2s ease-out;
  position: fixed;
  z-index: 1000;
  // backdrop-filter: grayscale(100%);
}

.hidden {
  display: none;
}
