/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: rgb(230, 230, 230);
  font-family: 'IBM Plex Sans', sans-serif;
  // cursor: url("data:image/svg+xml,%0A%3Csvg width='8px' height='8px' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Cerce' fill='%23333333' cx='4' cy='4' r='4'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E"), pointer;
  cursor: none;
  font-size: 100%;
}
